.tiktok-embed {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.tiktok-embed iframe {
  border-radius: 20px !important;
  margin-top: -1px !important;
}

.tiktok-embed section {
  margin: 0 !important;
}
